
* {
    font-family: helvetica;
    font-size: 16px;
    color: #202A25
}
body {
    background: #ECC8AE
}

h1 {
    font-size: 40px;
}
.title-head {
    width:100%;
    text-align:center;
}
.bigolebox {
    width: 75%;
    max-width:1000px;
    margin: 0 auto;
    margin-top: 70px;
}
.bigolebox * {
    box-sizing: border-box;
    
}

.flex-outer li label, .flex-outer li p {
    font-weight: 600;
}
.flex-outer, .flex-inner {
    list-style-type: none;
    padding: 0;
}
.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-outer > li > label, .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}
.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer > li > label + *, .flex-inner {
    flex: 1 0 220px;
}

.flex-outer li button {
    text-transform: uppercase;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 800;
    margin: 0 auto;
}

.flex-inner li {
    width: 100px;
}
.flex-inner {
    justify-content: space-between;
    padding: 0 8px;
}

.flex-outer li input:not([type='checkbox']), .flex-outer li textarea {
    padding: 15px;
    border: none;
    background: #D7907B;
}